<div>
  <form action='/bookmarks' method='get'>
    <button><input type='submit' name='retrieve' value='Retreive Database'></button>
  </form>
</div>
<div>
  <form action= '/bookmarks/rdr' method='post'>  
    Url: <input type='text' name='url'>
    Title: <input type='text' name='title'>
    <input type='submit' name='Add' value='Submit'>
  </form>
</div>